@{
    Layout = null;
}
<style>
    .leftMenu {
        margin-top: 30px;
        font-size: 26px;
        color: red;
    }
</style>
<div class="col-md-4">
    <ul class="leftMenu">
        <li><a asp-area="" asp-controller="PersonGroups" asp-action="Index">Person Groups</a></li>
        @*<li><a asp-area="" asp-controller="Home" asp-action="Identify">Identify Faces</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index"> Detect Faces</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Emotions">Emotions</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Attributes">Attributes</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Landmarks">Landmarks</a></li>*@
    </ul>
</div>