@model IdentifyFacesModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload photo to analyze:</p>
                    <input type="file" name="files" /><br />
                    <br />
                    <select asp-for="personGroupId" asp-items="Model.PersonGroups">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Send" />
                </div>
            </div>
        </form>
    </div>
</div>
